.search-container {
    position: relative;
    width: 100%;
    margin: 0 auto;
}

.search-container input[type="search"] {
    width: 100%;
    padding: 10px 10px 10px 25px;
    font-size: 16px;
    border: none;
    border-bottom: 2px solid #333;
    outline: none;
    box-sizing: border-box;
}

.search-container input[type="search"]::placeholder {
    color: #aaa;
}

.search-container .search-icon {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 12px;
    height: 12px;
}